body{
  background-color:cornsilk
}



.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  margin: auto;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

p {
  color: red;
  margin: 0;
}

button {
  width: auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}
